* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: #e0efdd;
}
#logo {
	width: 20%;
	height: 100px;
	background-color: #A6CE95;
	float: left;
	text-align: center;
}
#logo h2 {
	color: #35794B;
	font-family: 'Lobster', cursive;
	font-size: 35pt;
	margin-top: 15px;
}
header {
	width: 80%;
	height: 100px;
	background: #35794B;
	float: right;
}
#homeMenu, #homeButtons {
	display: inline;
	float: left;
}
#homeMenu li, #homeButtons li {
	display: inline;
	list-style-type: none;
}
#homeMenu li a, #homeButtons li a {
	text-decoration: none;
	color: white;
	font-size: 14pt;
	display: inline-block;
	padding: 39px;
}
#homeMenu li a:hover, #homeButtons li a:hover, #logOutButton:hover {
	background-color: #234214;
	transition: background-color .3s ease;
}
#homeButtons {
	float: right;
}
#logOutButton {
	color: white;
	cursor: pointer;
	float: right;
	font-size: 14pt;
	padding: 39px;
}
.activeLink {
	background-color: #234214;
}
.button {
	display: inline;
	border: 1px solid #234214;
	border-radius: 5px;
	text-decoration: none;
	color: #234214;
	background-color: #e0efdd;
	padding: 5px 25px;
}
label {
	margin-bottom: 5px;
	display: inline-block;
}
input[type="text"], input[type="password"], select, textarea {
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 13pt;
	border: 2px solid #A6CE95;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus, textarea:hover {
	outline: none;
	border: 2px solid #35794B;
}
input[type="submit"] {
	background: #35794B;
	border-radius: 5px;
	color: #e0efdd;
	padding: 5px;
	font-family: 'Lato', sans-serif;
	border: none;
	font-size: 13pt;
	width: 200px;
	margin: 10px auto;
	display: block;
	cursor: pointer;
	box-shadow: 0 3px 0px #234214;
}
input[type="submit"]:active {
	transform: translateY(3px);
	box-shadow: none;
}
input[type="submit"]:focus {
	outline: none;
}

.addbillinput {
	width: 50%;
}
#centered {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translateX(-50%);
	color: #35794B;
	width: 450px;
}
#centered h1 {
	color: #35794B;
	text-align: center;
}
#container {
	width: 100%;
	min-height: 100%;
	background-color: #e0efdd;
	position: relative;
}
#pageTitle {
	display: inline;
	color: #e0efdd;
	position: absolute;
	font-size: 40pt;
	margin: 15px 0 0 15px;
}
#userMenuTemp {
	float: right;
	display: inline;
}
#sidebar {
	position: absolute;
	width: 20%;
	background-color: #35794B;
	top: 100px;
	bottom: 0;
}
#sidebar li {
	list-style-type: none;
	text-align: center;
	left: 50%;
	padding: 45px 0;
	color: white;
	font-size: 16pt;
	background-color: #35794B;
	width: 100%;
}
#sidebar li a {
	color: #e0efdd;
	text-decoration: none;
}
#sidebar li:hover {
	cursor: pointer;
	background-color: #234214;
	transition: background-color .15s ease-in;
}
#sidebar li.active {
	background-color: #e0efdd;
	color: #35794B;
	font-weight: bold;
}
#sidebar li.active:hover {
	width: 100%;
	cursor: default;
}
#main {
	position: absolute;
	left: 20%;
	top: 100px;
	background-color: #e0efdd;
	padding: 50px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #e0efdd;
}
::-webkit-scrollbar-thumb {
    background-color: #234214;
    width: 5px;
}
.grid-item { 
	width: 150px; 
	background-color: rgba(0,0,0,.2);
	padding: 15px;
	margin: 15px;
}
.grid-item--width2 { 
	width: 300px; 
}